

/* ====== Keyframes ====== */
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2638.0422px;
    stroke-dasharray: 2638.0422px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 2638.0422px;
    stroke-dasharray: 2638.0422px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 2638.0398px;
    stroke-dasharray: 2638.0398px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


/* ====== Animations per SVG Element ====== */
.svg-elem-1  { 
  animation: animate-svg-stroke-1 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite alternate; 
}
.svg-elem-2  { 
  animation: animate-svg-stroke-2 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s infinite alternate; 
}
.svg-elem-3  { 
  animation: animate-svg-stroke-3 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s infinite alternate; 
}
.svg-elem-4  { 
  animation: animate-svg-stroke-4 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s forwards; 
}
.svg-elem-5  { 
  animation: animate-svg-stroke-5 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s infinite alternate; 
}
.svg-elem-6  { 
  animation: animate-svg-stroke-6 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.60s forwards; 
}
.svg-elem-7  { 
  animation: animate-svg-stroke-7 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s infinite alternate; 
}
.svg-elem-8  { 
  animation: animate-svg-stroke-8 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s forwards; 
}
.svg-elem-9  { 
  animation: animate-svg-stroke-9 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s infinite alternate; 
}
.svg-elem-10 { 
  animation: animate-svg-stroke-10 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s infinite alternate; 
}
.svg-elem-11 { 
  animation: animate-svg-stroke-11 2.6s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s infinite alternate; 
}

/* Ensures strokes don’t scale weirdly */
svg .path {
  vector-effect: non-scaling-stroke;
  fill: none;
}
