@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #00000;
  --font-grift: var(--font-grift), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0b3d91;
  --font-grift: var(--font-grift);
}



body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: var(--font-grift);
}

.border-gradient-bottom {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    91.8deg,
    #131315 13.93%,
    #0921b0 26.14%,
    #324eef 51.3%,
    #0921b0 66.17%,
    #131315 91.84%
  );
  border-image-slice: 1;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden;
}
